body {
  background-color: rgb(137, 137, 137);
}
header {
    background-color: aqua;
    color: brown;
}
footer {
    background-color: blueviolet;
}
h1 {
    color: red;
}
a{
    color:rgb(172, 25, 25);
}
